@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
    font-family: "Roboto", sans-serif;
}

.img1{
    width: 100%;
    height: auto;
    object-fit: center;
    transition: transform 0.3s ease-in-out;
    transform: translate(-30px, 15px);
    
}
.img2{
    width: 100%;
    height: auto;
    object-fit: center;
    transition: transform 0.3s ease-in-out;
}